<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmall.manage.mapper.AttrInfoMapper">
    <select id="selectAttrValueListByValueId" resultMap="selectAttrValueListByValueIdMap">
        select ai.*,av.id as av_id,av.value_name,av.attr_id,av.is_enabled
        from pms_base_attr_info ai ,pms_base_attr_value av
        where
        ai.id = av.attr_id
        and av.id in(${valueIdStr});
    </select>
    <resultMap id="selectAttrValueListByValueIdMap" type="com.gmall.bean.PmsBaseAttrInfo" autoMapping="true">
        <result column="id" property="id"></result>
        <collection property="attrValueList" autoMapping="true" ofType="com.gmall.bean.PmsBaseAttrValue">
            <result column="av_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>